<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ISTAIMPO: Parcelamento</title>
    <link rel="stylesheet" href="style.css">
    <link rel="shortcut icon" href="assets/favicon.ico" type="image/x-icon">
    <script src="https://unpkg.com/vue"></script>
</head>
<body>
    <span id="app">
        <img src="assets/logoIsta.png" alt="Logo Ista Imports" class="logo">
        <p>
            <input type="number" name="valor" id="valor" v-model="entrada" placeholder="valor">
        </p>

        <table>
            <tr class="topo">
                <th>PARCELA</th>
                <th>TOTAL</th>
            </tr>
            <tr :class="classeLinha[0]">
                <td id="p2">2x R${{parc[0]}}</td>
                <td id="t2">R${{total[0]}}</td>
            </tr>
            <tr :class="classeLinha[1]">
                <td id="p3">3x R${{parc[1]}}</td>
                <td id="t3">R${{total[1]}}</td>
            </tr>
            <tr :class="classeLinha[2]">
                <td id="p4">4x R${{parc[2]}}</td>
                <td id="t4">R${{total[2]}}</td>
            </tr>
            <tr :class="classeLinha[3]">
                <td id="p5">5x R${{parc[3]}}</td>
                <td id="t5">R${{total[3]}}</td>
            </tr>
            <tr :class="classeLinha[4]">
                <td id="p6">6x R${{parc[4]}}</td>
                <td id="t6">R${{total[4]}}</td>
            </tr>
            <tr :class="classeLinha[5]">
                <td id="p7">7x R${{parc[5]}}</td>
                <td id="t7">R${{total[5]}}</td>
            </tr>
            <tr :class="classeLinha[6]">
                <td id="p8">8x R${{parc[6]}}</td>
                <td id="t8">R${{total[6]}}</td>
            </tr>
            <tr :class="classeLinha[7]">
                <td id="p9">9x R${{parc[7]}}</td>
                <td id="t9">R${{total[7]}}</td>
            </tr>
            <tr :class="classeLinha[8]">
                <td id="p10">10x R${{parc[8]}}</td>
                <td id="t10">R${{total[8]}}</td>
            </tr>
            <tr :class="classeLinha[9]">
                <td id="p11">11x R${{parc[9]}}</td>
                <td id="t11">R${{total[9]}}</td>
            </tr>
            <tr :class="classeLinha[10]">
                <td id="p12">12x R${{parc[10]}}</td>
                <td id="t12">R${{total[10]}}</td>
            </tr>
        </table>
    
        <div class="error" v-if="!hideError">O valor da parcela não pode ser inferior a R$5,00</div>
        <footer id="foot">&copy; Ista Imports 2021</footer>
    </span>


    <script src="script.js"></script>
    
</body>
</html>