<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ISTAIMPO: Parcelamento</title>
    <link rel="stylesheet" href="style.css">
    <link rel="shortcut icon" href="assets/favicon.ico" type="image/x-icon">
    <script src="https://unpkg.com/vue"></script>
</head>
<body>

    <span id="app">
        <img src="assets/logoIsta.png" alt="Logo Ista Imports" class="logo">
        <p>
            <input type="text" name="valor" id="valor" v-model="entrada" placeholder="valor">
        </p>

        <table>
            <tr class="topo">
                <th>PARCELA</th>
                <th>TOTAL</th>
            </tr>

            <tr :class="classeLinha[0]">
                <td>Débito</td>
                <td>R${{total[0]}}</td>
            </tr>

            <tr :class="classeLinha[1]">
                <td>1x R${{total[1]}}</td>
                <td>R${{total[1]}}</td>
            </tr>

            <tr :class="classeLinha[2]">
                <td>2x R${{parc[0]}}</td>
                <td>R${{total[2]}}</td>
            </tr>

            <tr :class="classeLinha[3]">
                <td>3x R${{parc[1]}}</td>
                <td>R${{total[3]}}</td>
            </tr>

            <tr :class="classeLinha[4]">
                <td>4x R${{parc[2]}}</td>
                <td>R${{total[4]}}</td>
            </tr>

            <tr :class="classeLinha[5]">
                <td>5x R${{parc[3]}}</td>
                <td>R${{total[5]}}</td>
            </tr>

            <tr :class="classeLinha[6]">
                <td>6x R${{parc[4]}}</td>
                <td id="t6">R${{total[6]}}</td>
            </tr>

            <tr :class="classeLinha[7]">
                <td>7x R${{parc[5]}}</td>
                <td>R${{total[7]}}</td>
            </tr>

            <tr :class="classeLinha[8]">
                <td>8x R${{parc[6]}}</td>
                <td>R${{total[8]}}</td>
            </tr>
            <tr :class="classeLinha[9]">
                <td>9x R${{parc[7]}}</td>
                <td>R${{total[9]}}</td>
            </tr>

            <tr :class="classeLinha[10]">
                <td>10x R${{parc[8]}}</td>
                <td>R${{total[10]}}</td>
            </tr>

            <tr :class="classeLinha[11]">
                <td>11x R${{parc[9]}}</td>
                <td>R${{total[11]}}</td>
            </tr>

            <tr :class="classeLinha[12]">
                <td>12x R${{parc[10]}}</td>
                <td>R${{total[12]}}</td>
            </tr>
        </table>
    
        <div class="error" v-if="total[12] == ' //'">O valor da parcela não pode ser inferior a R$5,00</div>
        <footer id="foot">&copy; Ista Imports - 2021</footer>
    </span>

    <script src="script.js"></script>
    
</body>
</html>