body{
    background-color: #4b4b4d;
    text-align: center;
}

input#valor{
    width: 125px;
}

.logo{
    width: 75px;
    height: 34px;
}

table{
    margin-left: auto;
    margin-right: auto;
    border-style: solid;
    border-color: #00ff00;
    border-width: 5px;
}

.topo{
    color: #fff;
}

.preenchida{
    color: #baf9ba;
}

.naoPreenchida{
    color: #fff;
}

.naoParcela{
    color: rgb(255, 142, 142);
}

td{
    width: 40%;
    border-style: solid;
    border-color: white;
    border-width: 2px;
}
th{
    border-style: solid;
    border-color: white;
    border-width: 2px; 
}

.error{
    color: rgb(253, 193, 193);
}

footer{
    color: white;
}